repos:
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3.13
  - repo: local
    hooks:
      - id: mypy
        name: mypy (uv)
        entry: uv run mypy -p conway -p tests
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy (uv)
        entry: uv run mypy main.py
        language: system
        pass_filenames: false