name: Python CI

on: [push, pull_request]

jobs:
  test:
    name: Run pytest and mypy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          uv sync
          uv pip install --editable .

      - name: Run mypy
        run: uv run mypy src tests

      - name: Run pytest
        run: uv run pytest
